<%- include('header'); -%>
<nav class="navbar navbar-expand-lg navbar-light bg-blue">
    <div class="container-fluid">
      <a class="navbar-brand" href="/welcome"><span class="material-icons">
        auto_stories
        </span>Lethium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Search Lethium" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img id = "profilePic" src="<%=user.photo%>" alt="Accounts" width = "35" height = "35">
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><img id = "profilePic" src="<%=user.photo%>" alt="Accounts" width = "30" height = "30"> Welcome <br>   @<%=user.username%></a>
              </li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item myBtn" id = "myBtn" href="#">Write a story</a></li>
              <li><a class="dropdown-item" href="#">Design your profile</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/logout">Sign out</a></li>
            </ul>
          </li>
        </ul>        
      </div>
    </div>
  </nav>