<%- include('header'); -%>
<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><span class="material-icons">
        auto_stories
        </span>Lethium</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about">Our Story</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/write">Write</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Signin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="/welcome/google"><ion-icon name="logo-google"></ion-icon>Sign in with Google</a></li>
              <li><a class="dropdown-item" href="/welcome/git"><ion-icon name="logo-github"></ion-icon>Sign in with GitHub</a></li>
              <li><a class="dropdown-item" href="#"><ion-icon name="logo-twitter"></ion-icon>Sign in with Twitter</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">No Account? Create one</a></li>
            </ul>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->
        </ul>
        <button type="button" class="btn btn-secondary btn-lg">Get Started</button>
      </div>
    </div>
  </nav>